.not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .not-found-heading {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
  }
  

  .image{
    margin: 40px;
  }
  .not-found-text {
    font-size: 18px;
    color: #666;
    text-align: center;
  }
  